@model IEnumerable<MediaTech.ViewModel.SPKLUViewModel>
@using MediaTech.Data;
@{ int i = 1;}
@foreach (var item in Model)
{
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPKLUName)
        </td>
        <td>
            @item.CreatedDate.ToString("dd-MM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @(item.Status? "Active" : "Non-Active")
        </td>
        <td>
            @(item.IsACType?"AC Type":"DC Type")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alamat)
        </td>

        <td style="justify-content:space-between; display:flex">
            <button type="button" id="btn-detail" value="@item.SPKLUId.ToString().ToBase64()" class="btn btn-sm btn-info"><i class="fa fa-search"></i></button>
            <button type="button" id="btn-edit" value="@item.SPKLUId.ToString().ToBase64()" class="btn btn-sm btn-primary"><i class="fa fa-pencil-alt"></i></button>
            <button type="button" id="btn-hapus" value="@item.SPKLUId.ToString().ToBase64()" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
    i++;
}