@model IEnumerable<MediaTech.ViewModel.SPKLUViewModel>

@{
    ViewData["Title"] = "SPKLU Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid col-md-12 mt-n20">
    <div id="alert"></div>
    <div class="card">
        <div class="d-flex justify-content-between card-header">
            <h2>Dashboard SPKLU Management</h2>
            <button type="button" class="btn btn-primary btn-sm" id="btn-add" style="width:80px">Add</button>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered" id="tb_detail">
                <thead>
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SPKLUName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsACType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Alamat)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="list-data">
                    @await Html.PartialAsync("_List", Model);
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-input" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

        });

        $("#modal-input").on("click", "#btnAdd", function () {
            //Reference the Name and Country TextBoxes.
            var txtStartAt = $("#txtStartAt");
            var txtFinishAt = $("#txtFinishAt");

            //Get the reference of the Table's TBODY element.
            var tBody = $("#tblCustomers > TBODY")[0];

            //Add Row.
            var row = tBody.insertRow(-1);

            //Add Name cell.
            var cell = $(row.insertCell(-1));
            cell.html(txtStartAt.val());

            //Add Country cell.
            cell = $(row.insertCell(-1));
            cell.html(txtFinishAt.val());

            //Add Button cell.
            cell = $(row.insertCell(-1));
            var btnRemove = $("<input />");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.val("Remove");
            cell.append(btnRemove);

            //Clear the TextBoxes.
            txtStartAt.val("");
            txtFinishAt.val("");
        });

        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            var close = $("TD", row).eq(1).html();
            if (confirm("Do you want to delete: Start at " + name + " and close at "+close)) {
                //Get the reference of the Table.
                var table = $("#tblCustomers")[0];

                //Delete the Table row using it's Index.
                table.deleteRow(row[0].rowIndex);
            }
        };

        function loadData() {
            $.ajax({
                url: '@Url.Action("List")',
                dataType: 'html',
                type: 'get',
                success: function (x) {
                    $("#list-data").html(x);
                }
            });
        }
        $("#btn-add").click(function () {
            $.ajax({
                url: '@Url.Action("Add")',
                dataType: 'html',
                type: 'get',
                success: function (x) {
                    $("#modal-input").find(".modal-dialog").removeClass("modal-sm");
                    $("#modal-input").find(".modal-dialog").addClass("modal-lg");
                    $("#modal-input").find(".modal-content").html(x);
                    $("#modal-input").modal('show');
                }
            });
        });
        $("#list-data").on("click", "#btn-detail", function () {
            $.ajax({
                url: '@Url.Action("Details")',
                dataType: 'html',
                type: 'get',
                data: { id: $(this).val() },
                success: function (x) {
                    $("#modal-input").find(".modal-dialog").removeClass("modal-sm");
                    $("#modal-input").find(".modal-dialog").addClass("modal-lg");
                    $("#modal-input").find(".modal-content").html(x);
                    $("#modal-input").modal('show');
                }
            });
        });
        $("#list-data").on("click", "#btn-edit", function () {
            $.ajax({
                url: '@Url.Action("Edit")',
                dataType: 'html',
                type: 'get',
                data: { id: $(this).val() },
                success: function (x) {
                    $("#modal-input").find(".modal-dialog").removeClass("modal-sm");
                    $("#modal-input").find(".modal-dialog").addClass("modal-lg");
                    $("#modal-input").find(".modal-content").html(x);
                    $("#modal-input").modal('show');
                }
            });
        });
        $("#list-data").on("click", "#btn-hapus", function () {
            $.ajax({
                url: '@Url.Action("Delete")',
                dataType: 'html',
                type: 'get',
                data: { id: $(this).val() },
                success: function (x) {
                    $("#modal-input").find(".modal-dialog").removeClass("modal-sm");
                    $("#modal-input").find(".modal-dialog").addClass("modal-lg");
                    $("#modal-input").find(".modal-content").html(x);
                    $("#modal-input").modal('show');
                }
            });
        });
        $("#modal-input").on("click", "#btn-cancel", function () {
            $("#modal-input").modal('hide');
        });
        $("#modal-input").on("submit", "#form-input", function () {
            var dataForm = $(this).serialize();
            var jps = new Array();
            $("#tblCustomers TBODY TR").each(function () {
                var row = $(this);
                var jp = {};
                jp.StartAt = row.find("TD").eq(0).html();
                jp.FinishAt = row.find("TD").eq(1).html();
                jps.push(jp);
            });
            $.ajax({
                url: $(this).attr('action'),
                data: dataForm +"&ListJamOperational="+JSON.stringify(jps),
                dataType: 'JSON',
                type: 'POST',
                success: function (s) {
                    if (s.success) {
                        $("#modal-input").modal('hide');
                        //$("#alert").addClass(data.vclass);
                        $("#alert").fadeOut(5000).html(s.message);
                        loadData();
                    }
                    else {
                        $("#modal-input").find(".modal-content").html(data);
                        $("#modal-input").modal('show');
                    }
                }
            });
            return false;
        });
        function cekData() {
            var ini = $('#modal-input').find('#username').val();
            $.ajax({
                url: '@Url.Action("CheckNama","Ajax")',
                type: 'get',
                dataType: 'json',
                data: {
                    nama: ini
                },
                success: function (x) {
                    if (x.data == true) {
                        swal({
                            type: x.alertType,
                            title: x.alertStrong,
                            html: x.alertMessage,
                            footer: ''
                        });
                    }
                }
            });
            return false;
        }
        $("#tb-input").find("#tr-input").find("#col5-filter").datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
        $(".select2").select2();
    </script>
}
